html body {
    overflow-x: hidden;
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

.card-img-top{
    max-height: auto;
    width: 100px;
    align-content: center;
    padding: 0 0 0;
}

.posisi{
    margin-top: 40px;
   }

.login-size{
    width: 100px;
}

.main-cont{
    min-height: 750px;
    margin-top: 160px;
}

.icon-sosmed {
    width: 25px;
    max-height: auto;
    margin-top: 5px;
}

.footer {
    background-color: antiquewhite;
    height: 250px;
    margin-top: 30px;
}

.footer-margin{
    margin-top: 20px;
}

.footer-bmargin{
    margin-bottom: 10px;
}


.footer-copyright{
    margin-left: 40px;
    margin-bottom: 20px;
}

.card-title{
    justify-content: center;
}

.btn-primary{
    width: 315px;
    justify-content: center;
    margin-top: 20px;
}

.spacing{
    margin-top: 10px;
    text-align: center;
}

